/* *{
    background-color: #0A192F;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth; 
} */
html, body {
    background-color: #0A192F;
    margin: 0px;
    width: 100% !important;
    padding: 0px;
    scroll-behavior: smooth;
}
.navbar-custom{
    margin-top: 18px;
}
.navbar-custom .navbar-nav> li{
    margin-right: 12px;
}
.navbar-custom .navbar-nav >li>a{
    color: #ccd6f6;
    margin-left: 6px;
}
.navbar-custom .navbar-nav>li>a>span{
    margin-right: 6px;
    color:#64ffda;
}
.btn-resume,
.btn-resume:hover,
.btn-resume:active,
.btn-resume:visited,
.btn-resume:focus {
    background-color: #0a192f;
    border-color: #64ffda;
    color: #64ffda !important;
}
.vertical-email-box{
    border-left: 2px solid #a8b2d1;
    height: 300px;
    position: relative;
    left: 50%;
    top: 400px;
}
.vertical-email-box >p {
    color: #64ffda;
    bottom: 100px;
}
.main-section h1{
    font-size: 80px;
    color: #ccd6f6;
}
.main-section h1 span{
    font-size: 60px;
    color:#a8b2d1;
}
.heading{
    color:#a8b2d1;
}
.btn-check,
.btn-check:hover,
.btn-check:active,
.btn-check:visited,
.btn-check:focus {
    background-color: #0a192f;
    border-color: #64ffda;
    color: #64ffda;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.about .separator span{
    color:#64ffda;
    font-size:20px;
    margin-right: 10px;
}
.about .separator {
    color: #ccd6f6;
    font-size: 20px;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color:#ccd6f6;
  }
  
 
  .separator::after {
    content: '';
    border-bottom: 1px solid #b4b8c4;
    width: 300px;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }
  .user_image{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 5%;
    background-color: #fff;
  }
  
.nav-pills-custom .nav-link {
    color: #aaa;
    background: #0A192F;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #64ffda;
    background: #0A192F;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #a8b2d1;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}
.text-inside-box{
    color: #b4b8c4;   
    ;
}
.card{
    background-color: #112240;
}
.icon-color{
    color: #64ffda;
}
.highlight-green{
    color:#64ffda;
}
.highlight-text-light{
    color:#ccd6f6 !important;
}
.btn-card,
.btn-card:hover,
.btn-card:active,
.btn-card:visited,
.btn-card:focus {
    background-color: #0a192f;
    border-color: #64ffda;
    color: #64ffda !important;
}
.card{
    height: 300px;
}
.progress-bar {
    background-color: #0a192f;
}
.btn-touch,
.btn-touch:active,
.btn-touch:hover,
.btn-touch:visited
{
    color: #0a192f;
    background-color: #64ffda;
   
}
.touch-section{
    margin-top: 200px !important;
    margin-bottom: 200px !important;
}
.sticky-social{
    position:fixed;
    top: 40%;
    right:28px;
    padding:0px;
    margin:0px;
  }
  .social{
    list-style:none;
  }
  .social li{
    padding:7px 7px;
    font-size:25px;
    transition:all 0.8s ease-in-out;
  }

 